<?xml version="1.0"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Qubyte Codes</title>
  <link href="https://qubyte.codes"/>
  <link type="application/atom+xml" rel="self" href="https://qubyte.codes/atom.xml"/>
  <updated>{{isoDate updated}}</updated>
  <id>https://qubyte.codes/</id>
  <author>
    <name>qubyte</name>
  </author>

  {{#posts}}
  <entry>
    <id>https://qubyte.codes/blog/{{attributes.slug}}</id>
    <link type="text/html" rel="alternate" href="https://qubyte.codes/blog/{{attributes.slug}}"/>
    <title>{{attributes.title}}</title>
    <published>{{isoDate attributes.datetime}}</published>
    <updated>{{#if attributes.updated}}{{isoDate attributes.updated}}{{else}}{{isoDate attributes.datetime}}{{/if}}</updated>
    <author>
      <name>qubyte</name>
      <uri>https://qubyte.codes</uri>
    </author>
    <content type="html">{{attributes.snippet}}</content>
  </entry>
  {{/posts}}

</feed>
