<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    <nav>
      <ul>
        <li><a href="/">archive</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <article class="h-entry">
      <header>
        <h2><a href="{{{canonical}}}" class="u-url p-name">{{attributes.title}}</a></h2>
        <time datetime="{{attributes.datetime}}" class="dt-published">{{humanDate attributes.datetime}}</time>
        <span class="tags">{{#each attributes.tags}}<a href="/tags/{{this}}">#{{this}}</a> {{/each}}</span>
      </header>
      <div class="e-content">
        {{{content}}}
      </div>
      {{#if attributes.webmentions}}
      <section>
        <h2>Mentions</h2>
        {{#attributes.webmentions}}
        <p>
          <a target="_blank" rel="noopener" href="{{{source}}}">{{author}}</a> on <time datetime="{{datetime}}" class="dt-published">{{humanDate datetime}}</time>
        </p>
        {{/attributes.webmentions}}
      </section>
      {{/if}}
      <section class="share">
        <p>Feel like sharing? {{> share-tweet callToAction="Tweet this post" }} or {{> share-toot callToAction="toot it!" }}</p>
        <p>Comments or corrections? {{> comments-tweet text="Send me a tweet" }} or {{> comments-toot text="toot to me!" }}</p>
        {{> webmention-form }}
      </section>
    </article>
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
