<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  <a href="https://qubyte.codes" class="h-card p-name u-url" hidden>Qubyte Codes</a>
  <header class="top-header">
    <h1>Qubyte Codes</h1>
    <nav>
      <ul>
        <li>archive</li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
  </header>
  {{#posts}}
  <article>
    <header>
      <h2><a href="/blog/{{attributes.slug}}">{{attributes.title}}</a></h2>
      <time datetime="{{attributes.datetime}}">{{humanDate attributes.datetime}}</time>
      <span class="tags">{{#each attributes.tags}}<a href="/tags/{{this}}">#{{this}}</a> {{/each}}</span>
    </header>
    <div class="quote">{{{attributes.snippet}}}</div>
  </article>
  {{/posts}}
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
