<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  <p class="h-card" hidden>
    <img
      class="u-photo"
      srcset="/img/profile-300.jpg 300w,/img/profile-150.jpg 150w"
      sizes="150px"
      src="/img/profile-150.jpg"
      alt="A profile picture."
    >
    <a class="p-name u-url" href="https://qubyte.codes">Mark Stanley Everitt</a>
    <a class="u-email" href="mailto:hello@qubyte.codes">hello@qubyte.codes</a>
    <span class="p-nickname">qubyte</span>
  </p>
  <header>
    <h1>Qubyte Codes</h1>
    <nav>
      <ul>
        <li><a href="/">archive</a></li>
        <li>notes</li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{#notes}}
    <article>
      <header>
        {{!-- <h2><a href="/blog/{{slug}}">{{attributes.title}}</a></h2> --}}
        <time datetime="{{timestamp}}">{{humanDateTime timestamp}}</time>
        {{!-- <span class="tags">{{#each attributes.tags}}<a href="/tags/{{this}}" rel="tag">#{{this}}</a> {{/each}}</span> --}}
      </header>
      <p>{{{content}}}</p>
    </article>
    {{/notes}}
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
