<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1">
  <link rel="icon" type="image/png" href="/icons/icon-64.png">
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed">
  <title>Qubyte Codes - Posts tagged as {{tag}}</title>
  <script src="/index.js" async></script>
  <link href="{{cssPath}}" rel="stylesheet">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#f1e7cd">
  {{#dev}}
  <script>
    new EventSource('/events').addEventListener('new', () => {
      console.log('RELOAD');
      window.location.reload(true);
    });
  </script>
  {{/dev}}
</head>
<body>
  <header class="top-header">
      <h1><a href="/">Qubyte Codes</a></h1>
    <nav>
      <ul>
        <li><a href="/">archive</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    {{#posts}}
    <article>
      <header>
        <h2><a href="/blog/{{attributes.slug}}">{{attributes.title}}</a></h2>
        <time datetime="{{attributes.datetime}}">{{attributes.humandatetime}}</time>
        <span class="tags">{{#each attributes.tags}}<a href="/tags/{{this}}">#{{this}}</a> {{/each}}</span>
      </header>
      <div class="quote">{{{attributes.snippet}}}</div>
    </article>
    {{/posts}}
  </div>
</body>
</html>
