<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    <nav>
      <ul>
        <li><a href="/">archive</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
  </header>
  <main>
  {{#posts}}
    <article>
      <header>
        <h2><a href="/blog/{{slug}}">{{attributes.title}}</a></h2>
        <time datetime="{{attributes.datetime}}">{{humanDate attributes.datetime}}</time>
        <span class="tags">{{#each attributes.tags}}<a href="/tags/{{this}}">#{{this}}</a> {{/each}}</span>
      </header>
      {{{snippet}}}
    </article>
  {{/posts}}
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
