<meta name="viewport" content="initial-scale=1">
<link rel="icon" type="image/svg+xml" href="/icons/battenberg.svg">
<link rel="icon" type="image/png" href="/icons/icon-64.png">
<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Combined Feed">
<link href="/social.atom.xml" type="application/atom+xml" rel="alternate" title="Social Feed">
<link href="/blog.atom.xml" type="application/atom+xml" rel="alternate" title="Blog Feed">
<title>{{baseTitle}}{{#if title}} - {{title}}{{/if}}</title>
<script src="/index.js" async></script>
<link href="{{cssPath}}" rel="stylesheet">
{{#styles}}
<link href="{{src}}" rel="stylesheet">
{{/styles}}
<link href="/manifest.json" rel="manifest">
<link rel="apple-touch-icon" href="/icons/icon-64.png">
<link rel="apple-touch-icon" sizes="144x144" href="/icons/icon-144.png">
<link rel="apple-touch-icon" sizes="168x168" href="/icons/icon-168.png">
<link rel="apple-touch-icon" sizes="192x192" href="/icons/icon-192.png">
<link rel="apple-touch-icon" sizes="512x512" href="/icons/icon-512.png">
<link href="https://twitter.com/qubyte" rel="me">
<link href="https://github.com/qubyte" rel="me">
<link href="https://mastodon.social/@qubyte" rel="me">
<link href="https://keybase.io/qubyte" rel="me">
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<link rel="micropub" href="{{baseUrl}}/.netlify/functions/micropub">
<link rel="webmention" href="{{baseUrl}}/.netlify/functions/receive-webmention">
<link rel="vcs-git" href="/qubyte-codes.git">
{{#if localUrl}}
<link href={{baseUrl}}{{localUrl}} rel="canonical">
{{/if}}
{{#isBlogEntry}}
{{#if prevLink}}
<link href="{{prevLink}}" rel="prev">
{{/if}}
{{#if nextLink}}
<link href="{{nextLink}}" rel="next">
{{/if}}
{{/isBlogEntry}}
<meta property="og:type" content="blog">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@qubyte">
<meta name="twitter:title" property="og:title" content="{{baseTitle}}{{#if title}} - {{title}}{{/if}}">
{{#if description}}
<meta name="description" content="{{description}}">
<meta name="twitter:description" property="og:description" content="{{description}}">
{{/if}}
{{#if image}}
  <meta name="twitter:image" property="og:image" content="{{baseUrl}}{{image.value}}">
  <meta name="twitter:image:alt" content="{{image.alt}}">
{{else}}
  <meta name="twitter:image" property="og:image" content="https://qubyte.codes/icons/icon-512.png">
  <meta name="twitter:image:alt" content="The qubyte.codes site icon.">
{{/if}}
<meta name="theme-color" content="#f1e7cd">
{{#dev}}
<script>
  const source = new EventSource('/events');

  source.addEventListener('new', () => {
    source.close();
    window.location.reload();
  });

  window.onbeforeunload = () => source.close();
</script>
{{/dev}}
{{#each scripts}}
<script src="{{{href}}}" type="module"></script>
{{/each}}
