<meta name="viewport" content="initial-scale=1">
{{#if noIndex}}
<meta name="robots" content="noindex">
{{/if}}
<meta name="fediverse:creator" content="@aura@sunny.garden">
<link rel="icon" type="image/svg+xml" href="/icons/battenberg.svg">
<link rel="icon" type="image/png" href="/icons/icon-64.png">
<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Combined Feed">
<link href="/social.atom.xml" type="application/atom+xml" rel="alternate" title="Social Feed">
<link href="/blog.atom.xml" type="application/atom+xml" rel="alternate" title="Blog Feed">
<title>{{baseTitle}}{{#if title}} - {{title}}{{/if}}</title>
{{#importMap}}
<script type="importmap">{{{this}}}</script>
{{/importMap}}
{{#importMapObject}}
{{#each imports}}<link rel="modulepreload" href="{{this}}">{{/each}}
{{/importMapObject}}
{{#scripts}}
<script src="{{{src}}}" type="module"></script>
{{/scripts}}
<link href="{{cssPath}}" rel="stylesheet">
{{#styles}}
<link href="{{href}}" rel="stylesheet">
{{/styles}}
<link href="{{baseUrl}}/" rel="me">
<link href="https://github.com/qubyte" rel="me">
<link href="https://codeberg.org/qubyte" rel="me">
<link href="https://sunny.garden/@aura" rel="me">
<link href="https://bsky.app/profile/qubyte.codes" rel="me">
<link href="https://www.reddit.com/user/qubytecodes" rel="me">
<link href="https://keybase.io/qubyte" rel="me">
<link rel="pgpkey" href="/pgp-public-key.txt">
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<link rel="micropub" href="/functions/micropub">
<link rel="webmention" href="/functions/webmention">
<link rel="vcs-git" href="/qubyte-codes.git">
{{#if localUrl}}
<link href="{{baseUrl}}{{localUrl}}" rel="canonical">
{{/if}}
{{#isBlogEntry}}
{{#if prevLink}}
<link href="{{prevLink}}" rel="prev">
{{/if}}
{{#if nextLink}}
<link href="{{nextLink}}" rel="next">
{{/if}}
{{/isBlogEntry}}
<meta property="og:type" content="article">
<meta property="og:title" content="{{baseTitle}}{{#if title}} - {{title}}{{/if}}">
{{#if description}}
<meta name="description" content="{{description}}">
<meta property="og:description" content="{{description}}">
{{/if}}
{{#if image}}
<meta property="og:image" content="{{baseUrl}}{{image.value}}">
<meta property="og:image:alt" content="{{image.alt}}">
{{else}}
  {{#if ogImage}}
<meta property="og:image" content="{{baseUrl}}{{ogImage}}">
<meta property="og:image:alt" content="Random art.">
  {{else}}
<meta property="og:image" content="https://qubyte.codes/icons/icon-512.png">
<meta property="og:image:alt" content="The qubyte.codes site icon.">
  {{/if}}
{{/if}}
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#f1e7cd">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#000">
{{#dev}}
<script>
  const source = new EventSource('/events');

  source.addEventListener('new', () => {
    source.close();
    window.location.reload();
  });

  window.onbeforeunload = () => source.close();
</script>
{{/dev}}
