<article class="h-entry" light-emoji="{{lightEmoji}}" dark-emoji="{{darkEmoji}}">
  {{> hcard-basics additionalClasses="p-author" }}
  <header>
    <a href="/likes/{{timestamp}}"><time datetime="{{datetime}}" class="dt-published">{{humanDateTime datetime timezone}}</time></a>
  </header>
  <a class="e-content u-like-of p-name" href="{{likeOf}}">{{likeOf}}</a>
</article>
