<article class="h-entry">
  {{> hcard-basics additionalClasses="p-author" }}
  <header>
    <a href="/likes/{{timestamp}}"><time datetime="{{datetime}}" class="dt-published">{{humanDateTime datetime}}</time></a>
  </header>
  <a class="e-content u-like-of p-name" href="{{likeOf}}" target="_blank" rel="noopener">{{likeOf}}</a>
</article>
