<article class="h-entry">
  <header>
    <a href="/links/{{timestamp}}"><time datetime="{{datetime}}" class="dt-published">{{humanDateTime datetime}}</time></a>
  </header>
  <a class="u-repost-of" href={{repostOf}} target="_blank" rel="noopener">{{summary}}</a>
</article>
