<nav>
  <ul>
    <li>{{navElement "/blog" "blog"}}</li>
    <li>{{navElement "/notes" "notes"}}</li>
    <li>{{navElement "/links" "links"}}</li>
    <li>{{navElement "/likes" "likes"}}</li>
    <li>{{navElement "/" "about"}}</li>
  </ul>
</nav>
