<article class="h-entry" light-emoji="{{lightEmoji}}" dark-emoji="{{darkEmoji}}">
  {{> hcard-basics additionalClasses="p-author" }}
  <header>
    <a class="u-url" href="/notes/{{timestamp}}"><time datetime="{{datetime}}" class="dt-published">{{humanDateTime datetime}}</time></a>
  </header>
  <p class="e-content p-name">
    {{content}}
    {{#if syndications.twitter}}<a class="mention-of" href="https://brid.gy/publish/twitter"></a>{{/if}}
    {{#if syndications.mastodon}}<a class="mention-of" href="https://brid.gy/publish/mastodon"></a>{{/if}}
  </p>
  {{#photos}}
    <img class="u-photo" src="{{value}}" alt="{{alt}}" width="{{width}}" height="{{height}}" loading="lazy">
  {{/photos}}
</article>
