<article class={{hType}} light-emoji="{{lightEmoji}}" dark-emoji="{{darkEmoji}}">
  {{> hcard-basics additionalClasses="p-author" }}
  <header>
    <a class="u-url" href="/notes/{{timestamp}}"><time datetime="{{datetime}}" class="dt-published">{{humanDateTime datetime timezone}}</time></a>
  </header>
  <p class="e-content p-name">
    {{content}}{{#if categories}}:{{/if}}{{#categories}} <span class="p-category">{{@this}}</span>{{/categories}}
    {{#if syndications.twitter}}<a class="mention-of" href="https://brid.gy/publish/twitter"></a>{{/if}}
    {{#if syndications.mastodon}}<a class="mention-of" href="https://brid.gy/publish/mastodon"></a>{{/if}}
  </p>
  {{#photos}}
    <picture>
      {{#avif}}<source type="image/avif" srcset="{{@this}}">{{/avif}}
      {{#webp}}<source type="image/webp" srcset="{{@this}}">{{/webp}}
      <img class="u-photo" src="{{value}}" alt="{{alt}}" width="{{width}}" height="{{height}}" loading="lazy">
    </picture>
  {{/photos}}
</article>
