<article class="h-entry">
  {{> hcard-basics additionalClasses="p-author" }}
  <header>
    <a class="u-url" href="/notes/{{timestamp}}"><time datetime="{{datetime}}" class="dt-published">{{humanDateTime datetime}}</time></a>
  </header>
  <p class="p-content p-name">{{content}}</p>
  {{#photo}}
    <img src="{{value}}" alt="{{alt}}">
  {{/photo}}
  {{#if syndications.twitter}}<a class="mention-of" href="https://brid.gy/publish/twitter"></a>{{/if}}
  {{#if syndications.mastodon}}<a class="mention-of" href="https://brid.gy/publish/mastodon"></a>{{/if}}
</article>
