<article class={{hType}} light-emoji="{{lightEmoji}}" dark-emoji="{{darkEmoji}}">
  <a class="u-author" href="/" hidden></a>
  <header>
    <a class="u-url" href="{{canonical}}"><time datetime="{{datetime}}" class="dt-published">{{humanDateTime datetime timezone}}</time></a>
  </header>
  {{#if spoiler}}<details><summary>⚠︎ {{spoiler}} ⚠︎</summary>{{/if}}
  <div class="e-content">
    {{{content}}}
  </div>
  {{#each photos}}{{{this}}}{{/each}}
  {{#if spoiler}}</details>{{/if}}
</article>
