<article class="h-entry" light-emoji="{{lightEmoji}}" dark-emoji="{{darkEmoji}}">
  <a class="u-author" href="/" hidden></a>
  <header>
    <a class="u-url" href="{{canonical}}"><time datetime="{{datetime}}" class="dt-published">{{humanDateTime datetime timezone}}</time></a>
  </header>
  <p class="e-content p-name">{{content}}</p>
  <p>In reply to: <a class="u-in-reply-to" href="{{inReplyTo}}">{{inReplyTo}}</a></p>
</article>
