{{#if webmentions}}
<hr>
<section>
  <h3>Mentions</h3>
  <ul>
  {{#webmentions}}
  <li class="{{#if content}}u-comment {{/if}}h-cite">
    {{initialUpper kind}} from <a class="u-author" href="{{author.url}}">{{author.name}}</a> on <a class="webmention u-url" href="{{source}}"><time datetime="{{published}}" class="dt-published">{{humanDate published}}</time></a>{{#if content}}: <em class="p-content">{{content}}</em>{{/if}}
  </li>
  {{/webmentions}}
  </ul>
</section>
{{/if}}
