<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Qubyte Codes</title>
  <link href="https://qubyte.codes"/>
  <link type="application/atom+xml" rel="self" href="https://qubyte.codes/{{name}}.xml"/>
  <link href="https://ko-fi.com/qubyte" rel="payment" />
  <updated>{{isoDate updated}}</updated>
  <id>https://qubyte.codes/</id>
  <author>
    <name>qubyte</name>
  </author>

  {{#items}}
  <entry>
    <id>https://qubyte.codes{{localUrl}}</id>
    <link type="text/html" rel="alternate" href="https://qubyte.codes{{localUrl}}"/>
    <title>{{title}}</title>
    <published>{{isoDate datetime}}</published>
    <updated>{{#if updatedAt}}{{isoDate updatedAt}}{{else}}{{isoDate datetime}}{{/if}}</updated>
    <author>
      <name>qubyte</name>
      <uri>https://qubyte.codes</uri>
    </author>
    <content type="html">
    {{#if spoiler}}
    &lt;p&gt;⚠︎ {{spoiler}} ⚠︎&lt;/p&gt;&lt;p&gt;Follow the link to reveal.&lt;/p&gt;
    {{else}}
    {{#if feedItem}}{{feedItem}}{{else}}{{content}}{{/if}}
    {{#photos}}&lt;img src&#x3D;&quot;https://qubyte.codes{{value}}&quot; alt&#x3D;&quot;{{alt}}&quot;&gt;{{/photos}}
    {{/if}}
    </content>
  </entry>
  {{/items}}

</feed>
