<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body class="h-feed">
  {{> hcard-basics additionalClasses="p-author" }}
  <header>
    <h1 class="p-name"><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main>
    {{#posts}}
    <article class="h-entry">
      <header>
        <h2><a href="{{localUrl}}" class="u-url p-name">{{title}}</a></h2>
        <time datetime="{{datetime}}" class="dt-published">{{humanDate datetime}}</time>
        <span class="tags">{{#each tags}}<a class="p-category" href="/tags/{{this}}" rel="tag">#{{this}}</a> {{/each}}</span>
      </header>
      {{{snippet}}}
    </article>
    {{/posts}}
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
