<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  {{> hcard-basics additionalClasses="p-author" }}
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main>
    <p>This is a collection of sites with RSS feeds I subscribe to. You can download this collection to import into your feed reader as an <a href="/feeds.opml">OPML file</a>.</p>
    <dl>
      {{#feeds}}
      <dt class="h-card"  light-emoji="{{lightEmoji}}" dark-emoji="{{darkEmoji}}"><a href="{{htmlUrl}}" class="u-url p-name">{{name}}</a></dt>
      <dd class="p-note">{{description}}</dd>
      {{/feeds}}
    </dl>
  </main>
  <footer>
    {{> copyright }}
  </footer>
  </div>
</body>
</html>
