<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  {{> hcard-basics }}
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main>
    <article>
      <h2>Publications</h2>
      <p>A selection of academic publications I've authored and coauthored.</p>
      {{#publications}}
      <article class="h-cite">
      {{#if doi}}
      <a href={{doi}} class="u-url u-uid"><h3 class="p-name">{{title}}</h3></a>
      <p>{{ref}}, <time class="dt-published">{{published}}</time>, <a href={{preprint}}>preprint</a></p>
      {{else}}
      <a href={{preprint}} class="u-url"><h3 class="p-name">{{title}}</h3></a>
      <p>{{ref}}, <time class="dt-published">{{published}}</time></p>
      {{/if}}
      </article>
      {{/publications}}
    </article>
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
