<!doctype html>
<html lang="en">
<head>
  {{> head }}
</head>
<body>
  {{> hcard-basics }}
  <header>
    <h1><a href="/">Qubyte Codes</a></h1>
    {{> nav }}
  </header>
  <main>
  {{#posts}}
    <article>
      <header>
        <h2><a href="{{localUrl}}">{{title}}</a></h2>
        <time datetime="{{datetime}}">{{humanDate datetime}}</time>
        <span class="tags">{{#each tags}}<a href="/tags/{{this}}">#{{this}}</a> {{/each}}</span>
      </header>
      {{{snippet}}}
    </article>
  {{/posts}}
  </main>
  <footer>
    {{> copyright }}
  </footer>
</body>
</html>
